/* Mise en page Commune*/

body
{
	font-family:Calibri, arial;
	background-color: #40a6e6;
	margin:0px;
	padding:0px;
}

h1
{
	font-size: 40px;
	font-weight: normal;
	text-align:center;
}

h2
{
	font-size: 48px;
	font-weight: normal;
	text-align:center;
}

header
{
	font-size: 40px;
	font-weight: normal;
	text-align:center;
}

footer
{
	height: 80px;
	padding-top: 30px;
	text-align:center;
	background-color:grey;
	border-top: 2px solid #AAA;
}

nav
{
	width:100%;
	background-color: #424558;
}

nav ul
{
	margin:0px;
	padding:0px;
}
nav li
{
	list-style-type:none;
	float:left
}

nav a
{
	display:inline-block;
	text-decoration:none;
	padding:20px 30px;
	color: #FFF;
	text-transform:uppercase;
	font-size:15px;
}

.table
{
	display:table;
	margin: 0px auto;
}

.menu-ind:hover, .Presentation
{
	border-top:5px solid #4c8;
	background-color: RGBa (64,200,130,0.15);
}

.menu-exp:hover, .Parcours
{
	border-top:5px solid #f1dc4f;
	background-color: RGBa (241,211,79,0.15);
}

.menu-comp:hover, .Competences
{
	border-top:5px solid #0070bb;
	background-color: RGBa (000,112,192,0.15);
}

.menu-hob:hover, .Certifications
{
	border-top:5px solid #e44d26;
	background-color: RGBa (228,77,38,0.15);
}

.menu-con:hover
{
	border-top:5px solid #e249e0;
	background-color: RGBa (226,73,224,0.15);
}

nav li:hover a
{
	padding:15px 30px 20px 30px;
}

/* Mise en page des sections */

section
{
	width:100%;
	min-height:300px;
	padding-bottom:10px;
	margin-bottom:10px;
}

.sec
{
	margin:0px 10%;
}

.left
{
	float:left;
	width:30%;
}

.right
{
	float:left;
	width:70%;
}

.cleft, .cright, .sousleft, .sousright
{
	width:50%;
	float: left;
	
}

.sec::after, .exp::after, .Certif::after
{
	content:"";
	display:table;
	clear:both;
}

/* Ajustement de la photo */

.Presentation img
{
	width:50%;
	height:100%;
}

/* Mise en page Exp-Pro */

.green
{
	border-top: 5px solid green;
	background-color: RGBa(74,235,89,0.15);
	margin-bottom:0px;
}

.blue
{
	border-top: 5px solid blue;
	background-color: RGBa(42,152,229,0.15);
	margin-bottom:0px;
}

.yellow
{
	border-top: 5px solid yellow;
	background-color: RGBa(230,232,85,0.15);
	margin-bottom:0px;
}

.leftexp
{
	width:45%;
	float:left;
}

.rightexp
{
	width:50%;
	float:left;
	margin-left:5%;
}

.leftexp img
{
	width:100%;
	max-width:256px;
}
/* Responsive */
@media screen and (max-width:780px)
{
	header
	{
		width:100%;
		height:8%;
		position:fixed;
		background-color:grey;
		margin-top:5%;
	}
	
	.Presentation h1
	{
		margin-top:15%;
	}
	
	h1
	{
		font-size:24px;
		margin:10px 0px 0px 0px;
	}
	h2
	{
		font-size:15px;
		margin:0px;
	}
	
	nav
	{
		position:fixed;
	}
	
	nav li a
	{
		font-size:12px;
		padding:10px;
	}
	
	nav li:hover a
	{
		padding:5px 10px 10px 10px;
	}
	
	.cleft, .cright
	{
		width:100%;
	}
	
	.cright h3
	{
		display:none;
	}
}