/* Mise en page Commune*/

@font-face {
 font-family: "Sansation";
 src: url("../fonts/Sansation-Regular.woff") format("woff");
}

body
{
	font-family:Sansation, Calibri, arial;
	background-color: #40a6e6;
	margin:0px;
	padding:0px;
}

h1
{
	font-size: 40px;
	font-weight: normal;
	text-align:center;
}

h2
{
	font-size: 48px;
	font-weight: normal;
	text-align:center;
}

header
{
	color:white;
	text-shadow:2px 2px 2px black;
	font-size: 40px;
	font-weight: normal;
	text-align:center;
}

footer
{
	height: 80px;
	padding-top: 30px;
	text-align:center;
	background-color:RGBa(139,139,139,0.5);
	border-top: 2px solid #AAA;
}

nav
{
	width:100%;
	background-color: #424558;
}

nav ul
{
	margin:0px;
	padding:0px;
}
nav li
{
	list-style-type:none;
	float:left
}

nav a
{
	display:inline-block;
	text-decoration:none;
	padding:20px 30px;
	color: #FFF;
	text-transform:uppercase;
	font-size:15px;
}
	
.table
{
	display:table;
	margin: 0px auto;
}

.menu-ind:hover, .Presentation
{
	border-top:5px solid #4c8;
	background-color: RGBa(64,204,136,0.15); 	/* Vert */
}

.menu-exp:hover, .Parcours
{
	border-top:5px solid #f1dc4f;
	background-color: RGBa(241,211,79,0.15); 	/* Jaune */
}

.menu-comp:hover, .Competences
{
	border-top:5px solid #0070bb;
	background-color: RGBa(000,112,187,0.15); 	/* Bleu */
}

.menu-hob:hover
{
	border-top:5px solid #2a98e5;
	background-color: RGBa(42,152,229,0.15);	/* Bleu */
}

.menu-con:hover, .Certifications
{
	border-top:5px solid #e52a2a;
	background-color: RGBa(229,42,42,0.15);		/* Rouge */
}

nav li:hover a
{
	padding:15px 30px 20px 30px;
}

/* Mise en page des sections */

section
{
	width:100%;
	min-height:300px;
	padding-bottom:10px;
	margin-bottom:10px;
}

.sec
{
	margin:0px 10%;
}

.left
{
	float:left;
	width:30%;
}

.right
{
	float:left;
	width:70%;
}

.cleft, .cright, .sousleft, .sousright
{
	width:50%;
	float: left;
	
}

.sec::after, .exp::after, .Certif::after
{
	content:"";
	display:table;
	clear:both;
}

.Rotation
	{
		text-align:center;
	}
	
/* Ajustement de la photo */

.Presentation img
{
	width:50%;
	height:100%;
}

/* Mise en page Exp-Pro */

.green
{
	border-top: 5px solid green;
	background-color: RGBa(74,235,89,0.15);
	margin-bottom:0px;
}

.blue
{
	border-top: 5px solid blue;
	background-color: RGBa(42,152,229,0.15);
	margin-bottom:0px;
}

.yellow
{
	border-top: 5px solid yellow;
	background-color: RGBa(230,232,85,0.15);
	margin-bottom:0px;
}

.red
{
	border-top: 5px solid red;
	background-color: RGBa(229,42,42,0.15);
	margin-bottom:0px;
}

.leftexp
{
	width:45%;
	float:left;
}

.rightexp
{
	width:50%;
	float:left;
	margin-left:5%;
	text-align:justify;
}

.leftexp img
{
	width:50%;
	max-width:256px;
}

/* Decoration des titres H2 des sections (accueil) */

.Parcours h2, .Certifications h2
{
	text-shadow:2px 2px 2px grey;
}

/* Section Loisirs */


/* Responsive */

@media screen and (orientation: portrait)
{
	.Rotation
	{
		margin-top:40%;
	}
	
	footer
	{
		font-size:0.7em;
	}
	
	article, h1, h2, nav, footer, section
	{
		display:none;
	}
}

@media screen and (min-width:720px)
{
	.Rotation
	{
		display:none;
	}
}

@media screen and (max-width:780px) and (orientation: landscape)
{
	.Rotation
	{
		display:none;
	}
	
	header
	{
		width:100%;
		height:8%;
		position:fixed;
		background-color:RGBa(139,139,139,0.5);
		margin-top:5%;
	}
	
	h1
	{
		font-size:24px;
		margin:10px 0px 0px 0px;
	}
	h2
	{
		font-size:15px;
		margin:0px;
	}
	
	nav
	{
		position:fixed;
	}
	
	nav li a
	{
		font-size:12px;
		padding:10px;
	}
	
	nav li:hover a
	{
		padding:5px 10px 10px 10px;
	}
	
	.cleft, .cright
	{
		width:100%;
	}
	
	.cright h3
	{
		display:none;
	}
	
	.accueil
	{
		margin-top:15%;
	}
	
	.Exp-Pro
	{
		margin-top:15%;
	}
	
	.hobbies
	{
		margin-top:15%;
	}
	
	.contact
	{
		margin-top:15%;
	}